[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pillow = "*"
numpy = "*"
keras = "*"
wxpython = "*"
matplotlib = "*"
tensorflow = "*"

[requires]
python_version = "3.6"

[scripts]
start = 'python ./select_tea/A1_app.py'